:root {
    --Blurple: #5865F2;
    --Faded-Blurple: #7289da;
    --Grayple: #99AAb5;
    --Darky: #1e2124;
    --ItsBlack: #23272A;
    --Boxes: #36393e;
    --LessDarky: #282b30;
    --VeryDark: #23272A;

    width: 1080px;
    height: 500px;
}

body {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8XG4S11zM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

    margin: 0px;
}

.container {
    background-image: radial-gradient(var(--Boxes), var(--VeryDark), var(--Darky));
    display: flex;
    align-items: center;
    text-align: start;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 20px;
    border-style: groove;
    border-color: black;
}

img {
    width: 400px;
    margin: 35px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 10px var(--Darky);
  /* x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (default is 0) */
}

.mapname {
    font-style: italic;
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 90%;
}

/*
.mapsubname {
    font-style: italic;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 80%;
}
*/

h2 {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}

a {
    color: #309eff;
}